[submodule "karllm-client"]
	path = karllm-client
	url = git@github.com:karlsolomon/karllm-client.git
[submodule "karllm-server"]
	path = karllm-server
	url = git@github.com:karlsolomon/karllm-server.git
[submodule "karllm-setup"]
	path = karllm-setup
	url = git@github.com:karlsolomon/karllm-setup.git
